/** @format */

.site-header {
  padding: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  background: darken($mainColor, 2%);
  z-index: 999;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .site-logo {
    width: 50%;
    padding: 1rem;
    aspect-ratio: 3/2;
    display: flex;
    position: relative;
    z-index: 999;
    @include media-breakpoint-up(lg) {
      width: 100%;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.2);
      }
      img {
        width: 100%;
        aspect-ratio: 3/2;
        width: 50%;
      }
    }
  }
  .main-menu {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-up(lg) {
      flex-direction: column;
      display: flex;
    }
    a {
      width: 100%;
      text-align: center;
      padding: 1rem 0.5rem;
      border-top: 1px rgba(255, 255, 255, 0.05) solid;

      color: rgba($mainFont, 0.75);
      text-decoration: none;
      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }
      &:last-child {
        border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
      }
    }
    &.menuOpen {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      justify-content: center;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    width: $headerWidth;
    flex-direction: column;
  }
  .naviagtion {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    button {
      position: relative;
      z-index: 999;
      aspect-ratio: 1;
      background-color: #000;
      border: none;
      color: #fff;
      svg {
        aspect-ratio: 1;
        width: 80%;
        fill: #fff;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
      button {
        display: none;
      }
    }
  }
}

.socials {
  display: flex;
  margin-bottom: 30px;
  a {
    color: $mainColor;
    filter: brightness(0) invert(1);
    padding: 10px;
    aspect-ratio: 1;
    transform: scale(1);
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
